<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:5000/spamfinder",method="POST">
        <center>
            <h1>Spam Detector</h1>
            <h3>Enter your messege here:</h3>
            <input type="text" name="messege"
            placeholder="Text here" size="150"><br><br>
            <input type="submit" value="submit">
        </center>
    </form>
</body>
</html>